<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main>
        <div id="page1">
          
            <div class="container">
                <div class="heading">Admin Login</div>
                <form action="/adminlogin" method="post" class="form">
                    <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
                    <input required="" class="input" type="password" name="password" id="password"
                        placeholder="Password">
                    <!-- <span class="forgot-password"><a href="/forgetpassword">Forgot Password ?</a></span> -->
                    <input class="login-button" type="submit" value="Login">

                </form>
                <div class="social-account-container">
                  
                    <div class="social-accounts">
                       
                    </div>
                </div>
                <span class="agreement"><a href="/signup">New team ? Register </a></span>
            </div>
        </div>
    </main>
    <script src="/js/script.js"></script>
    <script>
        // Check for error in URL query parameters and show alert
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
        if (error) {
            alert(error);
            // Remove error from URL after showing alert
            window.history.replaceState({}, document.title, window.location.pathname);
        }
    </script>
</body>

</html>