<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/associate.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div id="page1">
            <nav>
                <div class="logon">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="links">
                    <a href="#">About</a>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="trackDropdown">
                            Track <i class="ri-arrow-down-s-line"></i>
                        </a>
                        <div class="dropdown-menu" id="trackMenu">
                            <a href="/solotask" class="dropdown-item">Solo</a>
                            <a href="/teamtrack" class="dropdown-item">Team</a>
                        </div>
                    </div>
                    <a href="/mentor">Mentor</a>
                    <a href="/associate">Associate</a>
                </div>
                <div class="btns">
                    <a href="/logout"><button>Logout <i class="ri-arrow-right-fill"></i></button></a>
                </div>
            </nav>
        </div>
        <div id="page2">
            <section class="partners-section">

                <h2 class="partners-title"><span>Government</span> Partners</h2>

                <div class="partners-wrapper">

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/gov1.jpeg" alt="">
                        </div>
                        <h3>Maharashtra Government</h3>
                        <p>Maharashtra State</p>
                    </div>

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/zpgov.jpeg" alt="">
                        </div>
                        <h3>Zilha Parishad</h3>
                        <p>Kolhapur</p>
                    </div>

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/gov2.jpeg" alt="">
                        </div>
                        <h3>Kolhapur Muncipal Corporation</h3>
                        <p>Kolhapur</p>
                    </div>

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/WhatsApp Image 2025-11-26 at 2.48.55 PM.jpeg" alt="">
                        </div>
                        <h3>District Information Office</h3>
                        <p>Kolhapur</p>
                    </div>

                </div>

            </section>

            <section class="partners-section">

                <h2 class="partners-title"><span>Corporate</span> Partners</h2>

                <div class="partners-wrapper pws-d">

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/KIRLOSKAR SAFE SPACE LOGO-01.jpg" alt="">
                        </div>
                        <h3>Kirloskar Engines</h3>
                        <p>Funding Partner</p>
                    </div>

                   

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/walstar-logo.png" alt="">
                        </div>
                        <h3>Walstar Internationals</h3>
                        <p>Technology Partner</p>
                    </div>

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/bnews.jpg" alt="">
                        </div>
                        <h3>Bhima News Network</h3>
                        <p>Media Partner</p>
                    </div>

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/AISelect_20251125_220409_Google.jpg" alt="">
                        </div>
                        <h3>Chate Education</h3>
                        <p>Education Partner</p>
                    </div>
                    <div class="partner-card secpartner">
                        <div class="partner-img">
                            <img src="/images/Untitled-design-3-5-696x447.png" alt="">
                        </div>
                        <h3>Gokul Milk Industries</h3>
                        <p>Incentives Partner</p>
                    </div>

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/Sanjay_Ghodawat_Group.png" alt="">
                        </div>
                        <h3>Sanjay Ghodawat Group</h3>
                        <p>Funding Partner</p>
                    </div>

                </div>  

            </section>


            <section class="partners-section ">

                <h2 class="partners-title"><span>NGO</span> Partners</h2>

                <div class="partners-wrapper pws-d thirdsection">

                   

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/Lions-Club.jpg" alt="">
                        </div>
                        <h3>Lions Club</h3>
                        <p>Kolhapur</p>
                    </div>

                    <div class="partner-card">
                        <div class="partner-img">
                            <img src="/images/WhatsApp Image 2025-11-26 at 6.02.33 PM.jpeg" alt="">
                        </div>
                        <h3>Rotary Club</h3>
                        <p>Kolhapur</p>
                    </div>
                   

                    

                </div>  

            </section>

        </div>
        <div id="page10">
            <footer class="footer">
              <div class="footer-container">
            
                <!-- Logo + tagline -->
                <div class="footer-section">
                  <h2 class="logo"><img src="/images/logo.png" alt=""></h2>
                  <h3 class="title">SWACHHA BRIGADE<br>KOLHAPUR </h3>
                  <!-- <p class="tagline">CREATING JOB CREATORS</p> -->
                </div>
            
                <!-- Quick Links -->
                <div class="footer-section">
                  <h3 class="heading">QUICK LINKS</h3>
                  <ul class="links">
                    <li>About</li>
                    <li>Team</li>
                    <li>Mentor</li>
                    <li>Contact</li>
                    <li>Registration</li>
                  </ul>
                </div>
            
                <!-- Reach us -->
                <div class="footer-section">
                  <h3 class="heading">REACH US</h3>
                  <p>gcoe kolhapur,<br>
                     vidya nagar,<br>
                     old pune banglore highway<br>
                     kolhapur, India
                  </p>
                </div>
            
                <!-- Contact + Social -->
                <div class="footer-section">
                  <h3 class="heading">CONTACT US</h3>
                  <p><a href="mailto:nec@ecell.in">demo@snnc.in</a></p>
            
                  <h3 class="heading">FOLLOW US</h3>
                  <div class="social-icons">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-youtube-line"></i></span>
                    <span><i class="ri-telegram-2-line"></i></span>
                  </div>
                </div>
              </div>
            
              <div class="copyright">
                © 2025 SNNC. All rights reserved.
              </div>
            </footer>
            
          </div>
    </main>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const trackDropdown = document.getElementById("trackDropdown");
            const dropdown = document.querySelector(".dropdown");

            if (trackDropdown && dropdown) {
                trackDropdown.addEventListener("click", (e) => {
                    e.preventDefault();
                    dropdown.classList.toggle("active");
                });

                // Close dropdown when clicking outside
                document.addEventListener("click", (e) => {
                    if (!dropdown.contains(e.target)) {
                        dropdown.classList.remove("active");
                    }
                });
            }
        });
        </script>
</body>

</html>