<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/mentor.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="page1">
            <nav>
                <div class="logon">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="links">
                    <a href="#">About</a>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="trackDropdown">
                            Track <i class="ri-arrow-down-s-line"></i>
                        </a>
                        <div class="dropdown-menu" id="trackMenu">
                            <a href="/solotask" class="dropdown-item">Solo</a>
                            <a href="/teamtrack" class="dropdown-item">Team</a>
                        </div>
                    </div>
                    <a href="/mentor">Mentor</a>
                    <a href="/associate">Associate</a>
                </div>
                <div class="btns">
                    <a href="/logout"><button>Logout <i class="ri-arrow-right-fill"></i></button></a>
                </div>
            </nav>
        </div>
        <div id="page2">
            <div class="hero-left">
                <h1>MENTORSHIP</h1>
                <h4><i>"Show me a successful individual and I'll show you someone who had someone believe in him."</i></h4>
                <span>~Don Shukla</span>
            </div>
            <div class="hero-right">
                <img src="https://www.ecell.in/nec/assets/img/basic-hero.png" alt="">
            </div>
        </div>
        <div id="page3">
            <div class="visiondiv">
                <h1>What is <span>SNNC</span> ?
                </h1>
                <p>
                  Ready to compete for a cleaner Kolhapur? The Swacch Nagar Nigam Challenge (SNNC) is a high-stakes, 6-month competition designed to transform your locality. We challenge teams (societies/lanes) and individuals to earn up to 2000 points by completing exciting tasks, from social media blitzes and enforcing Wet/Dry waste segregation to tackling pollution after major festivals. This is your chance to join the Swacch Brigade, showcase your community's pride, earn massive recognition from the Municipal Corporation, and win awards while ensuring your area becomes the cleanest in the city. Join the movement and let the competition begin!
                </p>
            </div>
            <div class="visiondiv visiondiv2">
                <h1>Our <span>Vision</span></h1>
                <p>
                  Our vision is to build a self-sustaining model for urban cleanliness where the citizen is the primary guardian of the environment, not just a passive recipient of municipal services. We envision a Kolhapur where the stress on the Municipal Corporation's waste management system is significantly reduced because community vigilance and action—particularly against issues like Ganpati Visarjan pollution and the lack of Wet/Dry segregation—are standardized practices. This project seeks to foster a "Nagarik Pehal" (Citizen's Initiative) that creates a culture of competitive pride, leading to long-term behavioral change, drastically lowered operational costs for the government, and measurable improvements in public health and environmental quality across the district.
                </p>
            </div>
        </div>
        <div id="page4">
            <div class="container">

                <section class="top-section">
                    <div class="card">
                        <h2>Why SNNC Mentor</h2>
                        <ul>
                            <li> <i class="ri-arrow-drop-right-line"></i> They offer knowledge about cleanliness drives, waste management, community
behaviour, sustainability, and practical solutions.</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Participants may have ideas but lack direction. Mentors help them turn those ideas
into action.</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Mentors inspire teams to stay active, committed, and consistent throughout the
challenge.</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Mentors understand challenges related to cleanliness, public participation, and
planning—this helps teams prepare better strategies.</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>With mentorship, the projects become more structured, impactful, and successful.</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Mentors help students understand the importance of keeping the surroundings clean
and becoming responsible citizens.</li>
                        </ul>
                    </div>
            
                    <div class="card">
                        <h2>Role of the Mentor</h2>
                        <ul>
                            <li> <i class="ri-arrow-drop-right-line"></i>Guide them in strategizing and planning their Events</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Share lessons learned from their own journey, helping the mentee avoid common mistakes and pitfalls</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Provide access to your network of mentors and speakers</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Assist in defining the long-term vision of the organization</li>
                            <li> <i class="ri-arrow-drop-right-line"></i>Share moral support and motivate your mentees at times of need</li>
                        </ul>
                    </div>
                </section>
            
              
            
               
            </div>
        </div>
        <div id="page10">
            <footer class="footer">
              <div class="footer-container">
            
                <!-- Logo + tagline -->
                <div class="footer-section">
                  <h2 class="logo"><img src="/images/logo.png" alt=""></h2>
                  <h3 class="title">SWACHHA BRIGADE<br>KOLHAPUR </h3>
                  <!-- <p class="tagline">CREATING JOB CREATORS</p> -->
                </div>
            
                <!-- Quick Links -->
                <div class="footer-section">
                  <h3 class="heading">QUICK LINKS</h3>
                  <ul class="links">
                    <li>About</li>
                    <li>Team</li>
                    <li>Mentor</li>
                    <li>Contact</li>
                    <li>Registration</li>
                  </ul>
                </div>
            
                <!-- Reach us -->
                <div class="footer-section">
                  <h3 class="heading">REACH US</h3>
                  <p>GCOE Kolhapur,<br>
                     Vidyanagar,<br>
                     old pune banglore highway<br>
                     kolhapur, India
                  </p>
                </div>
            
                <!-- Contact + Social -->
                <div class="footer-section">
                  <h3 class="heading">CONTACT US</h3>
                  <p><a href="mailto:nec@ecell.in">demo@snnc.in</a></p>
            
                  <h3 class="heading">FOLLOW US</h3>
                  <div class="social-icons">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-youtube-line"></i></span>
                    <span><i class="ri-telegram-2-line"></i></span>
                  </div>
                </div>
              </div>
            
              <div class="copyright">
                © 2025 SNNC. All rights reserved.
              </div>
            </footer>
            
          </div>
    </main>

    <script>
         document.addEventListener('DOMContentLoaded', function() {
            const trackDropdown = document.getElementById("trackDropdown");
            const dropdown = document.querySelector(".dropdown");
            
            if (trackDropdown && dropdown) {
                trackDropdown.addEventListener("click", (e) => {
                    e.preventDefault();
                    dropdown.classList.toggle("active");
                });
                
                // Close dropdown when clicking outside
                document.addEventListener("click", (e) => {
                    if (!dropdown.contains(e.target)) {
                        dropdown.classList.remove("active");
                    }
                });
            }
        });
    </script>
</body>
</html>
